.privacy,.terms,.conditions{
    padding: 10px;
    
}
.link{
    display: flex;
text-align: center;
margin-left: 480px;
margin-top: -18px;
}
.foot-parent{
    
    text-align: center;
margin-top: -18px;
background-color: aliceblue;
color: cadetblue;
}
.h3{
    padding: 10px;
    font-style: oblique;
}