.cntct{
    display: flex;
    margin-left: 700px;
    padding: 10px ;
    color:cadetblue


}
.apple{
    width: 46%;
height: 14%;
margin-left: 15px;
border-radius: 51px;
}
.c:hover{
      color: cornflowerblue;
    
}
.l:hover{
    color: cornflowerblue;
  
} 
 .s:hover{
    color: cornflowerblue;
  
} 
.st:hover{
    color: cornflowerblue;
  
}
.ac:hover{
    color: cornflowerblue;
  
}
.big-parent{
    display:flex;
    background-color:#87cefa61;;
    /* border-radius: 20px; */
    

   
}
.c{
    padding: 10px;
}
.l{
    padding: 10px;

}
.s{
    padding: 10px;
}
.logo{
    margin-left: 50px;
    font-style: italic;
    color: cadetblue;
    
}
.ac{
    padding: 10px;

}
.st{
    padding: 10px;
}