.img{
    width: 58%;
height: 74%;
margin-left: 21px
}
.phone{
    margin-left: 70px;
    color: cadetblue;
    font-style: oblique;
}
.sec-parent{
    display: flex;
    background-color: #5f9ea024;
}
.ph{
    color: cadetblue;
}
.para{
    color: darkcyan;
font-style: oblique;
}