.div{
    background-color: purple;
    padding: 10px;
    margin: 10px;
    

}
.header{
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    font-style: italic;
    font-size: large;
    border-radius: 10px;

}
.footer{
    text-align: center;
    background-color: lightcoral;
    padding: 20px;
    font-style: italic;
    font-size: large;
    border-radius: 10px;
}
.main{
    text-align: center;
    background-color: lightgreen;
    padding: 20px;
    font-style: italic;
    font-size: large;
    border-radius: 10px;
}
.Component3{
    margin: 10px;
}