.color{
    color:red
    
}
.button{
    color: blueviolet;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
.parent{
    margin-left: 317px;
    margin-top: -182px;
}
.photo{
    margin-top: 79px;

}
.parent1{
    margin-top: -189px;
margin-left: 525px;
}

.colorheading1{
    color: blueviolet;
}
.colorhead{
    color: red;
}

.colorgreen{
    margin-top: -70px;
    border: 3px solid blueviolet;
}