.image2{
    width: 100%;

margin-top: 90px;
}
.third{
    margin-top: -230px;
margin-left: 384px;
}
.btn2{
    padding: 10px;
    background-color: white;
   
    border-radius: 14px;
    border-color: blue;
    color: blue;

}
.heading2{
    color: blue;
}