.image1{
    margin-top: 172px;
}
.second{
    margin-top: -195px;
margin-left: 559px;

}
.heading1{
    color: blue;
}
.btn1{
    padding: 10px;
    background-color: white;
   
    border-radius: 14px;
    border-color: blue;
    color: blue;
}