.image2{
    
    width: 100%;
    margin-top: 65px;
    height: 10rem;
    margin-top: 49px;
    border: 1px solid blue;
    border-radius: 6px;

margin-top: 90px;
}
.third{
    margin-top: -186px;
margin-left: 384px;
}
.btn2{
    padding: 10px;
    background-color: white;
   
    border-radius: 14px;
    border-color: blue;
    color: blue;
    box-shadow: 4px 3px 2px #8a2be2a1

}
.heading2{
    color: #8a2be2a1;
}
/* .border2{
    border: 5px solid blue;
border-radius: 20px;
} */
.third-parent{
    margin-top: -50px;
}
.para2{
    color: #8a2be299;
}