.main{
    text-align: center;
margin-top: 67px;
}
.btn2{
    margin-left: 1rem;
    padding: 10px;
background-color: blue;
color: white;
border-radius: 1rem;
}
.button{
    padding: 14px;
}
.login{
    padding: 10px;
background-clip: blue;
background-color: blue;
color: white;
border-radius: 1rem;
}
.login:hover{
    background-color:cadetblue;
}
.login:active{
    color: black;
}
.signup{
    padding: 10px;
background-clip: blue;
background-color: blue;
color: white;
border-radius: 1rem;
}
.signup:hover{
    background-color: cadetblue;
}
.signup:active{
    color:black
}
.form{
    background-color: aliceblue;
margin-top: 1rem;
padding: 2rem;
}
.up{
    margin-top: 1rem;
margin-left: -1rem;
}
.b{
    padding: 10px;
background-color: blue;
color: white;
border-radius: 1rem;
}